@{
    ViewData["Title"] = "State";
    Layout = "~/Views/shared/_Layout.cshtml";
}
<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button type="button" class="btn btn-success">Add State</button>
        <a asp-area="LOC_State" asp-action="Add_State" asp-controller="LOC_State">Add</a>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
    </div>
</nav>

<table class="table table-bordered table-hover text-center">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">StateName</th>
            <th scope="col">State code</th>
            <th scope="col">Country Name</th>
            @*<th scope="col">Country Code</th>*@
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>Gujrat</td>
            <td>GJ</td>
            <td>India</td>
            <td class="justify-content-center">
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>Rajsthan</td>
            <td>Rj</td>
            <td>India</td>
            <td>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Madhay Pradesh</td>
            <td>MP</td>
            <td>India</td>
            <td>
                <button type="button" class="btn btn-warning">Edit</button>
                <button type="button" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>